doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title AwsSum &ndash; Node.js library to talk to lots of Web APIs.
    link(rel="stylesheet",href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css")
    link(rel="stylesheet",href="/s/css/style.css")
    script(src="http://use.typekit.net/ajf8ggy.js")
    script.
      try { Typekit.load(); } catch (e) {}
  body

    #layout.pure-g-r.content
      #nav.pure-u-1-4
        .nav-inner"
          a.pure-button.primary-button(href="/") AwsSum

          .pure-menu.pure-menu-open
            ul
              li
                a(href="/awssum/") AwsSum
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; Amazon 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; AutoScaling 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; CloudFormation 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; CloudFront 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; CloudSearch 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; CloudWatch 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; DynamoDB 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Elastic Compute Cloud (EC2) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; ElastiCache 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; ElasticBeanstalk 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Elastic LoadBalancers (ELB) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Elastic MapReduce (EMR) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Flexible Payments Service (FPS) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Glacier 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Identity and Access Management (IAM) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Instance MetaData (IMD) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; ImportExport 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Relational Database Service (RDS) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Route53 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple Storage Service (S3) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple Email Service (SES) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; SimpleDB 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple Notification Service (SNS) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple Queue Service (SQS) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; StorageGateway 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple Token Service (STS) 
                  span.version v1.0.0
              li
                a(href="/awssum-amazon/") &bull; &bull; Simple WorkFlow (SWF) 
                  span.version v1.0.0

              li.pure-menu-heading General
              li
                a(href="#")
                  span.label-personal Personal
              li
                a(href="#")
                  span.label-work Work
              li
                a(href="#")
                  span.label-travel Travel


      #main.pure-u-3-4
        block page
